@import "tailwindcss";

@font-face {
    font-family: 'Azonix';
    src: url('./assets/fonts/Azonix.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Oxanium';
    src: url('./assets/fonts/Oxanium.ttf') format('opentype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}